* {
  background-color: white;
}
header,
footer,
main {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.icon_container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.icon_img,
.icon_img_a {
  justify-content: center;
  width: 60%;
  display: flex;
}
.sign_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.sign_form input {
  display: flex;
  border-radius: 3px;
  width: 260px;
  height: 40px;
  border: 1px solid gainsboro;
  background-color: white;
}
.sign_text {
  display: flex;
  flex-direction: column;
}
.button_div {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 260px;
  height: 40px;
}
.button01 {
  background-color: skyblue;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  border: none;
}
.sign_search {
  display: flex;
  font-size: 13px;
  flex-direction: row;
  width: 130%;
  margin: 10px;
}
.sign_search a {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  margin-left: 20px;
}
