* {
  padding: 0;
  margin: 0;
}
header {
  background-color: white;
}
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100%;
  cursor: pointer;
}
.header_container_1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 78%;
  justify-content: flex-end;
}
/*오늘의 집 홈으로 갈 수 있는 아이콘*/
.icon_container {
  display: flex;
  width: 12%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.icon_img {
  width: 120px;
  height: 50px;
}

/*커뮤니티, 쇼핑, 인테리어/생활 카테고리*/
.header_ct1 {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  height: 100%;
}
.ct1_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ct1_li_1 a,
.ct1_li a {
  text-decoration: none;
  color: #333;
  margin: 10px;
  font-weight: bold;
}
.ct1_li_1 a {
  color: skyblue;
}
.search-bar {
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.search-bar_input {
  padding-left: 35px;
  align-items: center;
  height: 50%;
  width: 80%;
  color: gray;
  font-size: 14px;
}

.search-bar svg {
  position: absolute;
  top: 33%;
  left: 15px;
  width: 25px;
  color: gray;
}

.header_cart {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.cart_img {
  width: 100%;
  height: 100%;
}
.sign_container {
  display: flex;
  align-items: center;
  margin: 10px;
}
.sign,
.signup {
  margin: 4px;
  text-decoration: none;
  color: gray;
  font-size: 14px;
  padding-right: 10px;
  border-right: 1px solid gray;
}
.ct_center {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  margin-right: 12px;
}
.write_container {
  width: 9%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header_write {
  width: 100%;
  height: 60%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
  border-radius: 7px;
}

.ctwrite {
  height: 100%;
  display: flex;
  align-items: center;
}
.ctwrite_down {
  display: inline-block;
  width: 30px;
  height: 50%;
  vertical-align: middle;
  align-items: center;
}

.icon_down_img {
  stroke: #333;
  fill: none;
}
.li_nav_container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
  height: 50%;
}
.li_nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 77%;
  justify-content: flex-end;
}
.nav_ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: black;
}
.nav_ul a {
  text-decoration: none;
  cursor: pointer;
}
.nav_li {
  margin: 5px;
}
.li_nav_div {
}
.hidden_button {
  background-color: none;
  border: none;
  cursor: pointer;
}
.hidden_ul {
  list-style-type: none;
}
.nav_best_container {
  border: 1px solid black;
  height: 30px;
}

/*main css*/

.aside_container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.asdie_action_1 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 78%;
}
.banner_side {
  display: flex;
  border: 1px solid black;
}
.banner_side_img {
  width: 20px;
  height: 20px;
}
.banner_wrap {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.banner_ul {
  display: flex;
}
.banner_ul_img {
  width: 100px;
  height: 100px;
}
.best_ul {
  list-style-type: none;
}

.aside_action_2 {
  border: 1px solid black;
}
.cat_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cat_ul {
  display: flex;
  list-style-type: none;
  text-align: center;
}
.cat_ul a {
  text-decoration: none;
  cursor: pointer;
}
.nav_ul a:hover {
  text-decoration: solid;
  color: skyblue;
}
.hidden_container:hover {
  border: 1px solid black;
  border-radius: 7px;
}
