* {
  padding: 0;
  margin: 0;
}
header {
  background-color: white;
}
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100%;
  cursor: pointer;
  width: 100%;
}
.header_container_1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 78%;
  justify-content: flex-end;
}
/*오늘의 집 홈으로 갈 수 있는 아이콘*/
.icon_container {
  display: flex;
  width: 9%;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-right: 20px;
}
.icon_img {
  width: 100px;
  height: 50px;
}

/*커뮤니티, 쇼핑, 인테리어/생활 카테고리*/
.header_ct1 {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  height: 100%;
}
.ct1_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ct1_li_1 a,
.ct1_li a {
  text-decoration: none;
  color: #333;
  margin: 10px;
  font-weight: bold;
}
.ct1_li_1 a {
  color: skyblue;
}
.search-bar {
  width: 27%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.search-bar_input {
  padding-left: 35px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  align-items: center;
  height: 50%;
  width: 80%;
  color: gainsboro;
  font-size: 14px;
  padding-left: 50px;
}

.search-bar svg {
  position: absolute;
  top: 33%;
  left: 30px;
  width: 25px;
  color: gray;
}

.header_cart {
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart_img {
  width: 80%;
  height: 80%;
}
.sign_container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.sign,
.signup {
  margin: 4px;
  text-decoration: none;
  color: gray;
  font-size: 14px;
  padding-right: 10px;
  border-right: 1px solid gray;
}
.ct_center {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  margin-right: 12px;
}
.write_container {
  width: 9%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header_write {
  width: 100%;
  height: 60%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
  border-radius: 7px;
  border: none;
  color: white;
}

.ctwrite {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctwrite_down {
  display: inline-block;
  width: 30px;
  height: 50%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.icon_down_img {
  stroke: white;
  fill: none;
}
.li_nav_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
  height: 50%;
  width: 100%;
}
.li_nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 95%;
  justify-content: flex-end;
}
.li_nav_1th {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-right: 30px;
  width: 88%;
}
.nav_ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: black;
}
.nav_ul a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
.nav_li {
  margin: 10px;
  font-weight: bold;
}
.li_nav_div {
  cursor: pointer;
  width: 4%;
  height: 41px;
  display: flex;
  align-items: center;
}
.header_nav_img {
  display: flex;
  width: 100%;
  height: 60%;
}
.hidden_container {
  display: none;
}
.hidden_ul {
  list-style-type: none;
}
.nav_best_container {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: absolute;
  right: 18px;
}
.best_ul {
  list-style: none;
  padding: 0;
  position: relative;
}
.best_li {
  display: none;
}
.best_li.active {
  display: block;
}
.li_best_div {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 160px;
  cursor: pointer;
}

/*main css*/
.aside_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.action_container_1 {
  border: 1px solid black;
  justify-content: center;
  display: flex;
}
.aside_action_1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 100%;
}
.banner_side {
  padding: 10px 0;
  display: flex;
  border: 1px solid black;
  height: 100%;
  width: 90%;
  justify-content: center;
}
.banner_side_img {
  width: 70%;
  height: 100%;
  border: 1px solid black;
}
.banner_wrap_container {
  border: 1px solid black;
  height: 100%;
  justify-content: center;
}
.banner_wrap {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 400px;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}
.banner_ul {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  left: 0px;
}
.banner_ul_img {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}
.banner_ul li {
  flex: 0 0 auto;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: white;
  box-shadow: 2px gainsboro;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  line-height: 30px;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}
.best_ul {
  list-style-type: none;
}
.aside_action_2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.cat_container {
  display: flex;
  flex-direction: row;
}
.cat_ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.cat_ul li {
  margin-bottom: 10px;
}

.cat_ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.cat_ul li a img {
  width: 90px;
  height: 70px;
  margin-right: 10px;
}
.aside_action_3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
}
.action_3_container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 78%;
}
.action_3_title_container {
  width: 100%;
  display: flex;
  justify-content: left;
  height: 100%;
  align-items: center;
}
.action_3_title {
}
.aside_title {
}
.plus_div {
}
.plus_p {
}
.action_3_list_container {
  display: flex;
  flex-direction: row;
}
.photo_img {
  width: 20px;
  height: 20px;
}
.todayplanning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.todayplanning_container_1 {
  display: flex;
  flex-direction: row;
  width: 88%;
  justify-content: space-between;
  align-items: center; /* 추가된 부분: 요소를 세로 중앙 정렬합니다. */
}

.todayplanning_title {
  text-align: left; /* 왼쪽 정렬 */
}

.todayplanning_plus {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* 추가된 부분: 요소를 세로 중앙 정렬합니다. */
}

.today_2_ul {
  list-style: none; /* 리스트 마커 제거 */
  display: flex;
  flex-direction: row;
}

.today_2_li_div_1 {
  display: flex;
  flex-direction: column;
}

.today_2_li_div_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.today_2_li_img {
  align-self: flex-start; /* 이미지를 왼쪽으로 정렬합니다. */
  border: 1px solid black;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}
.today_li_img {
  width: 70%;
  border-radius: 7px;
}
.today_p_container {
  margin-top: 10px; /* 이미지와의 간격 조정 */
}

.today_2_li_p1,
.today_2_li_p2 {
  text-align: left; /* 텍스트 왼쪽 정렬 */
}
.aside_action_5 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.action_5_container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}
.best_button_container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
.best_button_ul {
  border: 1px solid black;
  display: flex;
  list-style-type: none;
}
.aside_last_best {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.last_best_ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.ul_img {
  width: 60%;
  height: 20%;
  margin-right: 10px;
}

footer {
  border: 1px solid black;
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: row;
}
.footer_container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 88%;
  height: 100%;
}
.center_container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.center_h4 {
  border: 1px solid black;
}
.site_list_container {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  height: 20%;
}
.site_list_ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.site_list a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
.footer_last_container {
  border: 1px solid black;
  width: 40%;
  font-size: 13px;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.last_1_container,
.last_2_container,
.last_4_container,
.last_5_container,
.last_6_container {
  border: 1px solid black;
}
.last_1_cside {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.cside {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
.last_3_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.last_3_1th,
.last_3_2th,
.last_3_3th {
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  display: flex;
  margin-right: 10px;
}
.last_3_1th_img,
.last_3_2th_img,
.last_3_3th_img {
  width: 30px;
  height: 40px;
  margin: 7px;
}

.nav_ul a:hover {
  text-decoration: solid;
  color: skyblue;
}
