* {
  padding: 0;
  margin: 0;
}
header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100%;
  cursor: pointer;
  width: 100%;
  background-color: white;
}

.header_container_1 {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  z-index: 10;
  text-align: center;
  align-items: center;
  width: 78%;
  justify-content: flex-end;
  background-color: white;
}
/*오늘의 집 홈으로 갈 수 있는 아이콘*/
.icon_container {
  display: flex;
  width: 9%;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-right: 20px;
}
.icon_img {
  width: 100px;
  height: 50px;
  color: black;
}

/*커뮤니티, 쇼핑, 인테리어/생활 카테고리*/
.header_ct1 {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  height: 100%;
}
.ct1_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ct1_li_1 a,
.ct1_li a {
  text-decoration: none;
  color: #333;
  margin: 10px;
  font-weight: bold;
}
.ct1_li_1 a {
  color: skyblue;
}
.search-bar {
  width: 27%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.search-bar_input {
  padding-left: 35px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  align-items: center;
  height: 50%;
  width: 80%;
  color: gainsboro;
  font-size: 14px;
  padding-left: 50px;
}

.search-bar svg {
  position: absolute;
  top: 33%;
  left: 30px;
  width: 25px;
  color: gray;
}

.header_cart {
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart_img {
  width: 80%;
  height: 80%;
}
.sign_container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.sign,
.signup {
  margin: 4px;
  text-decoration: none;
  color: gray;
  font-size: 14px;
  padding-right: 10px;
  border-right: 1px solid gray;
}
.ct_center {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  margin-right: 12px;
}
.write_container {
  width: 9%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header_write {
  width: 100%;
  height: 60%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
  border-radius: 7px;
  border: none;
  color: white;
}

.ctwrite {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctwrite_down {
  display: inline-block;
  width: 30px;
  height: 50%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.icon_down_img {
  stroke: white;
  fill: none;
}
.li_nav_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
  height: 50%;
  width: 100%;
}
.li_nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 95%;
  justify-content: flex-end;
}
.li_nav_1th {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-right: 30px;
  width: 88%;
}
.nav_ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: black;
}
.nav_ul a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
.nav_li {
  margin: 10px;
  font-weight: bold;
}

.header_nav_img {
  display: flex;
  width: 100%;
  height: 60%;
}
.li_nav_container {
  overflow: hidden;
}
.li_nav_container {
  overflow: hidden;
}

.hidden_main_container {
  position: absolute;
  inset: 0;
  transform: translate3d(838.4px, 60.8px, 0px);
  display: none;
}

.li_nav_span {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
}

.hbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn_span {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon_down_img {
  fill: none;
  stroke: #2c3e50;
  stroke-width: 1.5;
  width: 20px;
  height: 20px;
}

/* CSS */
.hidden_container {
  border: 1px solid black;
  position: relative;
  top: 160px;
  z-index: 2;
  padding: 10px;
  display: none;
  flex-direction: column;
}

.hidden_container.show {
  display: block;
}

.hidden_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.hidden_li {
  margin-bottom: 5px;
}

.nav_best_container {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: absolute;
  right: 18px;
}
.best_ul {
  list-style: none;
  padding: 0;
  position: relative;
}
.best_li {
  display: none;
}
.best_li.active {
  display: block;
}
.li_best_div {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 160px;
  cursor: pointer;
}

/*main css*/
/* Common styles */
.main-container-1 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  overflow-y: auto;
  height: calc(80vh - 20px);
}

.action-container {
  display: flex;
  text-align: center;
}

.banner-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.banner-image,
.banner-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.banner-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.banner-image:hover {
  transform: scale(1.1);
}

.aside-action {
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.banner-text {
  font-size: 30px;
  font-weight: bold;
  top: 75%;
  left: 13%;
  color: white;
  z-index: 1;
  position: absolute;
}

.user-info {
  display: flex;
  align-items: center;
  left: 13%;
  top: 85%;
  position: absolute;
  color: white;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-status {
  font-size: 14px;
}

.banner-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-wrap {
  width: 290.4px;
  height: 550px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.banner-box {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0px;
}

li {
  list-style-type: none;
}

.banner-img {
  display: block;
  width: 290px;
  height: 99%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.5s ease;
}

.banner-img:hover {
  transform: scale(1.1);
}

.banner-img:hover .prev,
.banner-img:hover .next {
  opacity: 1;
}
.prev,
.next {
  display: none;
  position: absolute;
  top: 50%;
  border-radius: 100%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.aside_action_2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.cat_container {
  display: flex;
  flex-direction: row;
}
.cat_ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.cat_ul li {
  margin-bottom: 30px;
}

.cat_ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.cat_ul li a img {
  width: 90px;
  height: 70px;
  margin-right: 10px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  font-size: 20px;
}
.description {
  font-size: 13px;
}
.button-container {
  display: flex;
  background: none;
}
.more-button {
  background: none;
  border: none;
  color: skyblue;
  font-weight: bold;
  justify-content: flex-end;
}
.list {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  gap: 10px;
}
.item {
  position: relative;
  overflow: hidden;
  width: 185px;
  margin: 10px;
}
.item-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.item-image {
  width: 100%;
  transition: transform 0.3s ease;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
}

.item:hover .item-image {
  transform: scale(1.1);
}

.profile-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile-pic {
  border-radius: 100%;
  width: 70%;
  height: 70%;
}
.scrap-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
.scrap-button {
  background: none;
  border: none;
}
.action_2_prev,
.action_2_next {
  position: absolute;
  top: 137%;
  border-radius: 100%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.action_2_prev:hover,
.action_2_next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.action_2_prev {
  left: 130px;
  display: none;
}

.action_2_next {
  right: 130px;
}

.todayplanning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.todayplanning_container_1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}

.todayplanning_title {
  flex: 1 1 0%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 0px;
  font-size: 20px;
}

.todayplanning_plus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: none;
  margin-right: 20px;
}
.plus {
  background: none;
  border: none;
  color: skyblue;
  font-weight: bold;
  font-size: 15px;
}
.today_2_1 {
  overflow: hidden;
}
.today_2_ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.today_2_li_div_1 {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 0px;
}

.today_2_li_div_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.today_2_li_img {
  align-self: center;
  display: flex;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: auto;
}
.today_li_img {
  width: 100%;
  border-radius: 4px;
}
.today_p_container {
  margin-top: 10px;
}

.today_2_li_p1,
.today_2_li_p2 {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.today_2_li_p2 {
  font-size: 15px;
  margin-top: 5px;
}

.today_2_li_div_container:hover .today_li_img {
  transform: scale(1.1);
}
.prev-button-1,
.next-button-1 {
  position: absolute;
  top: 176%;
  border-radius: 100%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-button-1 {
  display: none;
  left: 140px;
}
.next-button-1 {
  right: 140px;
}
.aside_action_5 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
/* 액션 컨테이너 */
.action_5_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* 오늘의 계획 컨테이너 */
.todayplanning_container_1 {
  margin-bottom: 10px;
}

/* 오늘의 계획 타이틀 */
.todayplanning_title .aside_title {
  font-weight: bold;
  font-size: 20px;
}

/* 더보기 버튼 */
.plus_btn {
  width: 100%;
  border: none;
  background: none;
  height: 100%;
  color: skyblue;
  font-weight: bold;
}

/* 베스트 컨테이너 */
.best_container_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

/* 베스트 컨테이너 내부 */
.best_container_2 {
  margin: 0 auto;
  width: 100%;
}

/* 베스트 버튼 목록 */
.best_button_ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 1150px;
}

/* 베스트 버튼 아이템 */
.best_button_li {
  margin: 3px;
  margin-bottom: 5px;
  background-color: rgb(234, 233, 233);
  border-radius: 15px;
  padding: 5px;
  white-space: nowrap;
}

/* 베스트 버튼 라벨 */
.best_label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1px;
  font-size: 13px;
  line-height: 24px;
}

/* 베스트 버튼 입력 */
.best_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* 베스트 버튼 라벨 내의 텍스트 */
.best_span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.best_button_li.clicked {
  background-color: skyblue;
}

.best_button_li.clicked .best_span {
  color: white;
}

/* 다음/이전 버튼 컨테이너 */
.action_5_button {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}

.prev-best-1,
.next-best-1 {
  position: absolute;
  border-radius: 100%;
  transform: translateY(-110%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.prev-best-1 {
  right: 550px;
  display: none;
}

.next-best-1 {
  left: 550px;
}

/* 전체 아이템 컨테이너 */
.production-item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.production-item {
  max-width: 400px;
  margin: 10;
  border-radius: 5px;
}

/* 이미지 오버레이 */
.production-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

/* 이미지 컨테이너 */
.production-item .image {
  position: relative;
  height: 70%;
  width: 98%;
}
/* 이미지 */
.production-item .image .img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}
.image {
  transition: transform 0.5s ease;
  overflow: hidden;
}

.img:hover {
  transform: scale(1.1);
}
/* 스크랩 버튼 */
.production-item .image button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1;
}
.scrap-badge {
  position: relative;
}

.inactive-icon {
  position: absolute;
  top: 310px;
  right: 2px;
  z-index: 2;
}

.active-icon {
  position: absolute;
  top: -12px;
  z-index: 1;
  right: 320px;
}

/* 다크 오버레이 */
.production-item .image .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 컨텐츠 */
.production-item .content {
  text-align: left;
}

/* 헤더 */
.production-item .content .header {
  display: flex;
  flex-direction: column;
}

/* 브랜드 */
.production-item .content .header .brand {
  color: #333;
  font-size: 8px;
  font-weight: bold;
}

/* 상품명 */
.production-item .content .header .name {
  color: #333;
  font-size: 11.5px;
}

/* 가격 */
.production-item .content .price {
  margin-bottom: 10px;
}

/* 할인율 */
.production-item .content .price .rate {
  color: #35c5f0;
  font-weight: bold;
}

/* 가격 값 */
.production-item .content .price .price__value {
  color: #333;
  font-size: 17px;
  font-weight: bold;
}

/* 리뷰 */
.production-item .content .stats {
  font-size: 12px;
  color: #666;
}

/* 평점 */
.production-item .content .stats .avg {
  color: #333;
  font-weight: bold;
}
/* 특가 배지 */
.production-item .content .badge-list svg {
  margin-left: 5px;
  margin: 0 auto;
  height: 20px;
}

footer {
  background-color: rgb(244, 244, 244);
  height: 100%;
}
.footer_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding: 40px;
}
.center_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 20%;
}
.center_h4 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
}
.call_time1 {
  text-align: left;
  margin: 7px;
}
.center_call {
  font-weight: bold;
  font-size: 15px;
}
.center_time1 {
  font-size: 13px;
  align-items: center;
  color: gray;
}
.center_ul_div {
  text-align: left;
  margin-left: 20px;
  font-size: 10px;
}
.site_between {
  background-color: rgb(48, 49, 50);
}

.center_ul {
  list-style-type: none;
  padding-left: 0;
}

.center_ul::before {
  margin-left: 20px;
  content: ·;
  font-size: small;
}
.center_span {
  border: 1px solid gray;
  margin-top: 20px;
  width: 58%;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}
.center_span_1 {
  border: 1px solid gray;
  margin-top: 20px;
  width: 30%;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}
.site_list_container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  height: 100%;
}

.site_list_ul {
  list-style: none;
  padding-left: 0;
  height: 100%;
}

.site_list {
  margin-bottom: 10px;
  margin: 23px;
}

.site_list a {
  text-decoration: none;
  color: #333;
}

.site_list_container {
  column-count: 2;
}

.site_list_ul {
  margin: 0;
  padding: 0;
  column-count: 1;
}

.site_list {
  margin-bottom: 10px;
  break-inside: avoid;
}
.footer_last_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-size: 14px;
}

.last_1_container,
.last_2_container,
.last_3_container,
.last_4_container,
.last_5_container,
.last_6_container {
  font-size: 10px;
}
.last_3_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 5px 0;
}
.last_3_1th,
.last_3_2th,
.last_3_3th {
  border: 1px solid gray;
  padding: 10px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.last_3_2th,
.last_3_3th {
  width: 20%;
}
.last_3_1th_img,
.last_3_2th_img,
.last_3_3th_img {
  width: 30px;
  height: 30px;
}
.address {
  text-decoration: none;
  color: #333;
}
.cside {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cside div a {
  text-decoration: none;
  color: #333;
}
.cside_bar {
  margin: 0 5px;
}
.last_2_a {
  text-decoration: none;
  color: #333;
}
.cside_address {
  white-space: nowrap;
}

.last_2_span {
  margin-right: 10px;
}

.footer-badge {
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.last_5_container {
  padding: 3px;
}
.nav_ul a:hover {
  text-decoration: solid;
  color: skyblue;
}
